@import "partials/mixins";
@import "partials/variables";

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: $font-outfit;
}

header {
  margin-bottom: 25px;
  img {
    width: 100%;
    height: auto;
  }

  .header-text-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    // align-items: center;
    width: 83%;
    margin: auto;

    h1 {
      @include heading1;
    }

    p {
      line-height: 24px;
      margin-bottom: 15px;
      color: $paragraph-color;
    }
  }

  .preparation-time {
    background-color: hsl(322, 100%, 98%);
    padding: 22px;
    border-radius: 15px;
    p {
      color: $secondary-color;
      font-size: 20px;
      font-weight: bold;
    }

    ul {
      padding-left: 10px;
      li {
        color: $paragraph-color;
        margin-bottom: 13px;
        list-style-position: inside;
      }

      li::marker {
        color: $secondary-color;
      }
    }
  }
}

main {
  width: 83%;
  margin: auto;

  .ingredients-section {
    padding-bottom: 20px;
    border-bottom: 1px solid rgba(116, 113, 113, 0.34);
    margin-bottom: 25px;

    h2 {
      font-family: $font-young-serif;
      font-size: 25px;
      color: $primary-color;
      margin-bottom: 15px;
    }

    ul {
      padding-left: 35px;

      li {
        margin-bottom: 10px;
        list-style-type: none;
        color: $paragraph-color;
        position: relative;
      }

      li:before {
        content: "";
        position: absolute;
        left: -23px;
        top: 50%;
        transform: translateY(-50%);
        width: 5px;
        height: 5px;
        background-color: black;
        border-radius: 50%;
        background-color: $primary-color;
      }
    }
  }

  .instructions-section {
    padding-bottom: 20px;
    border-bottom: 1px solid rgba(116, 113, 113, 0.34);
    margin-bottom: 25px;

    h3 {
      font-family: $font-young-serif;
      font-size: 25px;
      color: $primary-color;
      margin-bottom: 15px;
    }

    ol {
      padding-left: 29px;

      li {
        margin-bottom: 10px;
        color: $paragraph-color;
      }
    }
  }

  .nutrition-section {
    margin-bottom: 45px;

    h4 {
      font-family: $font-young-serif;
      font-size: 25px;
      color: $primary-color;
      margin-bottom: 15px;
    }

    p:first-of-type {
      color: $paragraph-color;
      margin-bottom: 20px;
    }

    table {
      width: 100%;
      padding-left: 25px;
      border-collapse: collapse;

      tr:last-of-type {
        border-bottom: none;
      }

      tr {
        border-bottom: 1px solid rgba(116, 113, 113, 0.34);

        td {
          padding-top: 15px;
          padding-bottom: 15px;
        }

        td:first-of-type {
          padding-left: 42px;
          color: $paragraph-color;
        }

        td:last-child {
          padding-right: 30px;
          font-weight: bold;
          color: $primary-color;
        }
      }
    }
  }
}

@media only screen and (min-width: 600px) {
  body {
    margin: 75px 0;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: $body-background;
  }

  header {
    padding: 35px;
    max-width: 600px;
    background-color: $sections-background;
    margin: 0;
    border-radius: 20px 20px 0 0;

    img {
      border-radius: 20px;
    }

    .header-text-container {
      margin: 0;
    }
  }

  main {
    padding: 30px 30px 0 30px;
    max-width: 600px;
    background-color: $sections-background;
    margin: 0;
    width: 100%;
    border-radius: 0 0 20px 20px;

    .nutrition-section {
      margin-bottom: 25px;
    }
  }
}
